/* Sección body */
.body{
    font-family: 'Noto Serif', serif;
    background-color: black;
}

/* sección navbar */
.navbar{
    margin: 0;
    padding: 0;
    height: 100px;
    
}

/* edición sección navbar-header */
.navbar-header{
    background-image: url(../img/myself-w-sun-extended.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0.8);
    object-fit: cover;
    height: 100vh;
}

/* edición tamaño de logo */
.img-logo{
    height: 90px;
}

/*  */
.img-fluid{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.8);
    top: 0;
}

.acerca-de-mi{
    
}

.mis-proyectos{
    padding: 20vh;
    height: 100vh;
}

